<title>Update People</title>
<link rel="stylesheet" href="/update.css" />
<%- include('../partials/header') %>
<div class="body">
  <form action="/peoples/<%- people.id %>/update" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%-people.name%>" />
    <label for="job-role">Job Role</label>
    <input
      type="text"
      name="jobRole"
      id="job-role"
      value="<%- people.job_role %>"
    />
    <button type="submit">Update</button>
  </form>
</div>
<%- include('../partials/footer') %>
